:root {
  --white: white;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

a {
  color: #fff;
  text-decoration: none;
}

.background-video {
  background-image: linear-gradient(rgba(16, 9, 34, 0) 75%, #0b021e), url('../images/astronauta_1.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, contain;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  overflow: hidden;
}

.image {
  width: 60%;
}

.logo-infinitoealem {
  background-image: url('../images/title_header_1.webp');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 23vw;
  display: flex;
}

.text-block {
  color: #fff;
  text-align: center;
  font-family: Exo, sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

.line-blind {
  width: 32px;
  height: 32px;
}

.dashboard-vendedor {
  background-color: #100922;
  background-image: url('../images/bg_dashboard_1.webp');
  background-position: 50%;
  background-size: cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 60px;
  display: flex;
}

.image-2 {
  width: 24px;
  margin-top: 20px;
}

.link-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  max-width: 1200px;
}

.background-video-2 {
  z-index: 1;
  box-sizing: border-box;
  mix-blend-mode: screen;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  width: 103vh;
  height: 70vh;
  margin-right: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.div-block {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.astronaut {
  background-color: #7116bf;
  background-image: url('../images/astronaut_1.webp');
  background-position: 50%;
  background-size: cover;
  border-radius: 600px;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 30vh;
  padding: 43px 55px 60px;
  display: flex;
}

.title-dashboard {
  color: #e4c6ff;
  text-align: left;
  border: 1px #000;
  width: auto;
  margin-bottom: 0;
  padding: 0;
  font-family: Exo, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  text-decoration: none;
}

.div {
  background-image: linear-gradient(rgba(204, 0, 255, .28), rgba(109, 22, 179, .18));
  border: 1px #6d13b2;
  border-style: none none solid solid;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-bottom: 0;
  padding: 10px 40px 20px;
  display: flex;
  position: relative;
}

.name-astronaut {
  color: #e4c6ff;
  text-align: left;
  border: 1px #000;
  width: 100%;
  padding: 0;
  font-family: Exo, sans-serif;
  font-size: 4vh;
  font-weight: 300;
  line-height: 4vh;
  text-decoration: none;
}

.image-3 {
  mix-blend-mode: screen;
  width: 90%;
  height: auto;
}

.foto_vendedor {
  opacity: 1;
  mix-blend-mode: screen;
  background-image: radial-gradient(circle, rgba(13, 5, 38, .29), #0f0525), url('../images/4LFGB8D_a_man_called_otto_tom_hanks_jpeg.jpg');
  background-position: 0 0, 50%;
  background-size: auto, 160%;
  border-radius: 800px;
  width: 18vh;
  height: 14vh;
  display: block;
}

.dashboard-content {
  width: 90%;
  margin-left: 20px;
}

.name-content {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.ic_astronaut {
  opacity: .2;
  mix-blend-mode: normal;
  width: 42px;
}

.kpis-content {
  background-image: none;
  border: 1px #6d13b2;
  border-style: none none solid solid;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  width: auto;
  margin-top: 6px;
  padding: 10px 0 20px 40px;
  display: flex;
  position: relative;
}


.section-ranking-vendedores {
  background-color: #0b021e;
}

.ranking-vendedores {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}

.card-ranking-vendedores {
  background-image: linear-gradient(212deg, #0b021e 43%, rgba(109, 19, 178, .41));
  border-bottom: 1px solid #6d13b2;
  border-left: 1px solid #6d13b2;
  border-right: 1px #6d13b2;
  border-radius: 20px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 10px 40px;
  display: flex;
}

.card-ranking-vendedores-atual {
  background-image: linear-gradient(212deg, #0b021e 43%, rgba(0, 148, 255, .36));
  border-bottom: 1px solid #0094ff;
  border-left: 1px solid #0094ff;
  border-right: 1px #0094ff;
  border-radius: 20px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 10px 40px;
  display: flex;
}

.text-block-2 {
  font-size: 6vw;
  line-height: 6vw;
}

.ranking-score-1 {
  margin-right: 20px;
  font-size: 3vw;
  line-height: 3vw;
}

.card-ranking-vendedores-copy {
  background-image: linear-gradient(212deg, #0b021e 43%, rgba(109, 19, 178, .41));
  border-bottom: 1px solid #6d13b2;
  border-left: 1px solid #6d13b2;
  border-right: 1px #6d13b2;
  border-radius: 20px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 10px 40px;
  display: flex;
}

.grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.indicadores {
  background-image: linear-gradient(rgba(25, 16, 51, 0) 13%, rgba(108, 18, 177, .71));
  border: 1px solid #6d13b2;
  border-top-style: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  display: flex;
  position: relative;
}

.title-kpis {
  color: #e0beff;
  text-align: left;
  text-transform: uppercase;
  border: 1px #000;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  font-family: Exo, sans-serif;
  font-size: 1.5vh;
  font-weight: 100;
  line-height: 1.5vh;
  text-decoration: none;
}

.id-positivacao {
  color: #e4c6ff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 6vh;
  line-height: 5vh;
}

.image-4 {
  opacity: .15;
  width: 20%;
  position: absolute;
  top: 8%;
  bottom: auto;
  left: auto;
  right: 8%;
}

.title-kp {
  color: #ba6dff;
  text-align: left;
  border: 1px #000;
  border-bottom: 1px dotted #6d13b2;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 0 10px;
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  text-decoration: none;
}

.target-content {
  width: 100%;
  position: static;
}

.bar-progress {
  border: 1px solid rgba(228, 198, 255, .21);
  border-radius: 100px;
  width: 100%;
  height: 10px;
  position: relative;
  overflow: hidden;
}

.progress {
  background-color: #0095ff;
  border-radius: 100px;
  width: 85%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.target {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  display: none;
}

.percent-number {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: Exo, sans-serif;
  font-size: 5vh;
  line-height: 5vh;
}

.databat {
  color: rgba(255, 255, 255, .42);
  text-align: left;
  border: 1px #000;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  font-family: Exo, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.percent-content {
  background-image: linear-gradient(170deg, rgba(0, 140, 255, .68), rgba(255, 255, 255, 0) 56%);
  border-top: 1px solid rgba(0, 140, 255, .4);
  border-left: 1px solid rgba(0, 140, 255, .4);
  border-top-left-radius: 20px;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  padding: 10px 10px 0 20px;
  display: flex;
}

.medalha-meta {
  opacity: 1;
  width: 8vw;
  margin-left: 10px;
  display: none;
}

.percent-block {
  margin-right: 0;
}

.progress-contain {
  background-image: linear-gradient(rgba(0, 140, 255, .37), rgba(11, 2, 30, 0));
  border-top: 1px solid rgba(0, 140, 255, .7);
  border-left: 1px solid rgba(0, 140, 255, .4);
  border-top-left-radius: 20px;
  width: 80%;
  padding: 20px 20px 0;
}

.navbar {
  z-index: 999;
  background-color: rgba(221, 221, 221, 0);
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
}

.container-2 {
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  display: block;
}

.image-6 {
  width: 90px;
  margin-bottom: 11px;
  margin-right: 242px;
  padding-top: 0;
}

.brand {
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  margin-top: -23px;
  padding-top: 8px;
  display: block;
}

.nav-link {
  opacity: .6;
  color: #fff;
  font-family: Exo, sans-serif;
  font-weight: 500;
  transition: all .4s ease-in-out;
}

.nav-link:hover {
  opacity: 1;
  border-top: 3px #6d13b2;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
  border-top: 3px solid #6d13b2;
  border-bottom: 2px #a721d1;
}

.menu-rollover {
  z-index: 888;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(11, 2, 30, .63);
  width: 100%;
  height: 61px;
  position: fixed;
}

.title-progress {
  color: #fff;
  text-align: left;
  border: 1px #000;
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  font-family: Exo, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  text-decoration: none;
}

.dashboard-regional {
  background-color: #100922;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  display: block;
  position: relative;
}

.background-video-3 {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.dash-regional-content {
  z-index: 1;
  background-image: linear-gradient(#0b021e, rgba(11, 2, 30, .22) 43%, #0b021e);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  position: relative;
}

.dash-regional-block1 {
  width: 40%;
  margin-top: 0;
}

.dash-regional-block2 {
  z-index: 1;
  position: relative;
  top: -59px;
}

.dash-regional-block3 {
  width: 40%;
}

.rocket-img {
  z-index: 3;
  width: 29vh;
  height: 60vh;
  position: relative;
}

.background-video-4 {
  opacity: 1;
  mix-blend-mode: screen;
  width: 12vh;
  height: 14vh;
  position: absolute;
  top: auto;
  bottom: -18%;
  left: 33%;
  right: 0%;
}

.lottie-animation {
  mix-blend-mode: screen;
}

.dashboard-content-reg1 {
  width: auto;
  margin-left: 0;
  margin-right: 60px;
}

.kpis-grid1 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}

.kpis-content-2 {
  background-image: none;
  border: 1px solid #6d13b2;
  border-style: none solid solid none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 0;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  width: auto;
  margin-top: 0;
  margin-left: 40px;
  padding: 10px 40px 20px 0;
  display: flex;
  position: relative;
}

.div-block-8 {
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
}

.div-block-9 {
  width: 100%;
  margin-bottom: 0;
}

.lottie-animation-2 {
  width: 15vh;
  height: 15vh;
  position: absolute;
  top: auto;
  bottom: -24%;
  left: 25%;
  right: 0%;
  transform: rotate(180deg);
}

.ranking {
  background-color: #100922;
  background-image: url('../images/bg_ranking_1.webp');
  background-position: 50%;
  background-size: cover;
  height: auto;
  padding: 60px;
  overflow: hidden;
}

.ranking-content {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  display: flex;
}

.ranking-1 {
  padding-left: 220px;
  display: flex;
}

.rocket_nne_ranking {
  background-image: url('../images/rocket_nne_ranking_1.webp');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.rocket-animate {
  width: 20vw;
  height: 5vw;
  display: flex;
  position: relative;
}

.lottie-animation-3 {
  width: 5vw;
  margin-right: 10px;
  transform: rotate(-90deg);
}

.ranking-position-content {
  background-image: linear-gradient(270deg, rgba(108, 18, 177, .8), rgba(4, 2, 30, 0) 84%);
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 60px;
  display: flex;
}

.heading {
  color: #e4c6ff;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  font-weight: 100;
}

.text-block-2 {
  color: #fff;
  font-family: Exo, sans-serif;
  font-size: 3vw;
  line-height: 3vw;
}

.ranking-score-1 {
  color: #b765ff;
  margin-right: 40px;
  font-family: Exo, sans-serif;
  font-size: 1.5vw;
  line-height: 1.5vw;
}

.ranking-2 {
  padding-left: 180px;
  display: flex;
}

.rocket_sul_ranking {
  background-image: url('../images/rocket_sul_ranking_1.webp');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.rocket_rio_ranking {
  background-image: url('../images/rocket_rio_ranking_1.webp');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.ranking-3 {
  padding-left: 120px;
  display: flex;
}

.nav-menu {
  margin-top: -18px;
}

.rocket-cto {
  background-image: url('../images/rocket_cto_1.webp');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.rocket-spr {
  background-image: url('../images/rocket_spr_1.webp');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.rocket-nne {
  background-image: url('../images/rocket_nne_1.webp');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.rocket-rio {
  background-image: url('../images/rocket_rio_1.webp');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.rocket-spc {
  background-image: url('../images/rocket_spc_1.webp');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.rocket-sul {
  background-image: url('../images/rocket_sul_1.webp');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.rocket_cto_ranking {
  background-image: url('../images/rocket_cto_ranking.png');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.rocket_spc_ranking {
  background-image: url('../images/rocket_spc_ranking.png');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.rocket_spr_ranking {
  background-image: url('../images/rocket_spr_ranking.png');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.medalha-trancada {
  opacity: 1;
  width: 8vw;
  margin-left: 10px;
}

.login-content {
  background-image: url('../images/bg_dashboard_1.webp');
  background-position: 0 0;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.div-block-10 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  display: flex;
}

.text-field {
  color: #fff;
  background-color: rgba(12, 3, 28, .37);
  border: 1px solid #6d13b2;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px 20px;
  font-family: Exo, sans-serif;
  font-size: 16px;
}

.submit-button {
  background-color: #6d13b2;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 50%;
  margin-top: 20px;
  padding: 20px 40px;
  font-family: Exo, sans-serif;
  font-size: 16px;
}

.form {
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.paragraph {
  color: rgba(255, 255, 255, .63);
  text-align: center;
  margin-bottom: 40px;
  font-family: Exo, sans-serif;
  font-size: 18px;
}

.image-7 {
  width: 40%;
}

.form-block {
  width: 100%;
}

.image-8 {
  width: 100px;
  margin-top: 60px;
}

.section-ranking-vendedores {
  background-color: #0b021e;
}

.meta-indicadores {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.porcentagem-indicadores {
  color: #e4c6ff;
  margin-left: 10px;
  padding-left: 0;
  font-family: Exo, sans-serif;
  line-height: 15px;
}

.text-block-3 {
  color: #fff;
  font-family: Exo, sans-serif;
  font-size: 18px;
}

.icon-2 {
  color: #fff;
}

.dropdown-toggle {
  vertical-align: baseline;
  padding-left: 40px;
  padding-right: 60px;
  display: block;
  position: relative;
}

.filter-dropdown {
  background-color: #6d13b2;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 0;
  margin-right: 0;
}

.div-block-11 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.dropdown-list {
  background-color: #6d13b2;
}

.dropdown-list.w--open {
  background-color: rgba(52, 9, 85, .98);
  border-radius: 20px;
  margin-top: 2px;
}

.dropdown-link {
  color: #e4c6ff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Exo, sans-serif;
  transition: all .4s ease-in-out;
}

.dropdown-link:hover {
  color: #fff;
}

.div-block-12 {
  padding-left: 60px;
  padding-right: 60px;
}

.ranking-vendedores {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}

.astronaut-ranking {
  background-color: #7116bf;
  background-image: url('../images/astronaut_1.webp');
  background-position: 50% 22%;
  background-size: 65px;
  border-radius: 600px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
}

.foto_vendedor-ranking {
  opacity: 1;
  mix-blend-mode: screen;
  background-image: radial-gradient(circle, rgba(13, 5, 38, .29), #0f0525), url('../images/4LFGB8D_a_man_called_otto_tom_hanks_jpeg.jpg');
  background-position: 0 0, 50%;
  background-size: auto, 160%;
  border-radius: 800px;
  width: 40px;
  height: 40px;
  margin-top: -1px;
  display: block;
  position: absolute;
}

.card-ranking-vendedores {
  background-image: linear-gradient(212deg, #0b021e 43%, rgba(109, 19, 178, .41));
  border-bottom: 1px solid #6d13b2;
  border-left: 1px solid #6d13b2;
  border-right: 1px #6d13b2;
  border-radius: 20px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 10px 40px;
  display: flex;
}

.position-vendedor {
  color: #e4c6ff;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  font-family: Exo, sans-serif;
  font-weight: 300;
  line-height: 38px;
  display: flex;
}

.nome-vendedor {
  color: #e4c6ff;
  margin-bottom: 5px;
  font-family: Exo, sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.nome-e-pontos {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  display: flex;
}

.pontos-vendedor {
  color: #9306ff;
  font-family: Exo, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.rankings-categoria {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: 15px;
  display: flex;
}

.ranking-tv {
  background-color: rgba(228, 198, 255, .12);
  border-radius: 5px;
  padding: 10px 20px;
}

.ranking-geral {
  color: #e4c6ff;
  text-align: center;
  font-family: Exo, sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.vendedor-content {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-15 {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-position-ranking {
  color: #e4c6ff;
  text-align: left;
  border: 1px #000;
  width: auto;
  margin-bottom: 0;
  padding: 0;
  font-family: Exo, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  text-decoration: none;
}

.text-block-4 {
  color: rgba(255, 255, 255, .42);
  font-family: Exo, sans-serif;
}

.card-ranking-vendedores-atual {
  background-image: linear-gradient(212deg, #0b021e 43%, rgba(0, 148, 255, .36));
  border-bottom: 1px solid #0094ff;
  border-left: 1px solid #0094ff;
  border-right: 1px #0094ff;
  border-radius: 20px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 10px 40px;
  display: flex;
}

.section-ranking-territorios {
  background-color: #0b021e;
  padding-top: 60px;
  padding-bottom: 60px;
}

.moon-nne {
  background-image: url('../images/moon_nne.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 111%;
  width: 60px;
  height: 60px;
  transform: rotate(-23deg);
}

.moon-cto {
  background-image: url('../images/moon_cto.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 111%;
  width: 60px;
  height: 60px;
  transform: rotate(-23deg);
}

.moon-rio {
  background-image: url('../images/moon_rio.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 111%;
  width: 60px;
  height: 60px;
  transform: rotate(-23deg);
}

.moon-spc {
  background-image: url('../images/moon_spc.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 111%;
  width: 60px;
  height: 60px;
  transform: rotate(-23deg);
}

.moon-spr {
  background-image: url('../images/moon_spr.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 111%;
  width: 60px;
  height: 60px;
  transform: rotate(-23deg);
}

.moon-sul {
  background-image: url('../images/moon_sul.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 111%;
  width: 60px;
  height: 60px;
  transform: rotate(-23deg);
}

.pontos-territorios {
  color: #9306ff;
  font-family: Exo, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.card-ranking-vendedores-copy {
  background-image: linear-gradient(212deg, #0b021e 43%, rgba(109, 19, 178, .41));
  border-bottom: 1px solid #6d13b2;
  border-left: 1px solid #6d13b2;
  border-right: 1px #6d13b2;
  border-radius: 20px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 10px 40px;
  display: flex;
}

.pontos-territorio {
  color: #9306ff;
  font-family: Exo, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.position-territorio {
  color: #e4c6ff;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  font-family: Exo, sans-serif;
  font-weight: 300;
  line-height: 38px;
  display: flex;
}

.nome-territorio {
  color: #e4c6ff;
  margin-bottom: 5px;
  font-family: Exo, sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.update-infos {
  color: rgba(255, 255, 255, .29);
  text-align: right;
  width: 100%;
  margin-top: 5px;
  font-family: Exo, sans-serif;
}

.ranking-4 {
  padding-left: 80px;
  display: flex;
}

.ranking-5 {
  padding-left: 40px;
  display: flex;
}

.ranking-6 {
  padding-left: 0;
  display: flex;
}

.button {
  color: rgba(255, 255, 255, .47);
  background-color: rgba(109, 19, 178, .51);
  border: 1px solid #6d13b2;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Exo, sans-serif;
}

@media screen and (max-width: 991px) {
  .background-video {
    background-position: 0 0, 100% 35%;
    background-size: auto, contain;
  }

  .logo-infinitoealem {
    width: 87vw;
    height: 41vw;
  }

  .text-block {
    font-size: 18px;
  }

  .dashboard-vendedor {
    height: auto;
    padding: 60px 40px;
  }

  .image-2 {
    width: 16px;
    margin-top: 10px;
  }

  .background-video-2 {
    width: 90vh;
    height: 89vh;
  }

  .div-block {
    flex-flow: column;
  }

  .astronaut {
    width: 40vh;
    height: 40vh;
  }

  .foto_vendedor {
    height: 17vh;
  }

  .dashboard-content {
    width: 100%;
    margin-left: 0;
  }

  .percent-content {
    width: 30%;
    margin-bottom: 20px;
  }

  .navbar {
    padding-right: 0;
  }

  .image-6 {
    margin-right: 0;
  }

  .brand {
    margin-top: -12px;
    margin-right: -43px;
  }

  .nav-link {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .dashboard-regional {
    height: auto;
  }

  .background-video-3 {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    overflow: visible;
  }

  .dash-regional-content {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 60px 40px;
  }

  .dash-regional-block1 {
    width: 100%;
  }

  .dash-regional-block2 {
    margin-top: -18px;
    margin-left: -29px;
    padding-left: 0;
  }

  .dash-regional-block3 {
    width: 100%;
  }

  .dashboard-content-reg1 {
    margin-right: 0;
  }

  .kpis-content-2 {
    width: 100%;
    margin-left: 0;
    padding-right: 20px;
  }

  .div-block-8 {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }

  .div-block-9 {
    margin-bottom: 40px;
  }

  .ranking {
    padding: 60px 40px;
  }

  .rocket-animate {
    width: 32vw;
    height: 9vw;
  }

  .ranking-position-content {
    padding-right: 40px;
  }

  .text-block-2 {
    font-size: 5vw;
    line-height: 5vw;
  }

  .ranking-score-1 {
    margin-right: 20px;
    font-size: 2vw;
    line-height: 2vw;
  }

  .icon {
    color: #fff;
  }

  .nav-menu {
    background-color: rgba(13, 5, 35, .98);
    margin-top: -9px;
  }

  .menu-button {
    background-color: rgba(109, 19, 178, 0);
    margin-top: -10px;
  }

  .menu-button.w--open {
    background-color: #6d13b2;
  }

  .dropdown-toggle {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .div-block-12 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .astronaut-ranking {
    width: 50px;
    height: 50px;
  }

  .card-ranking-vendedores {
    padding-left: 20px;
    padding-right: 20px;
  }

  .rankings-categoria {
    margin-top: 5px;
    margin-left: 0;
  }

  .div-block-15 {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .card-ranking-vendedores-atual, .card-ranking-vendedores-copy {
    padding-left: 20px;
    padding-right: 20px;
  }

  .update-infos {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .background-video {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo-infinitoealem {
    width: 70vw;
    height: 33vw;
  }

  .text-block {
    font-size: 16px;
  }

  .dashboard-vendedor {
    padding-left: 20px;
    padding-right: 20px;
  }

  .name-astronaut {
    font-size: 7vh;
    line-height: 7vh;
  }

  .ic_astronaut {
    width: 32px;
    padding-top: 10px;
  }

  .kpis-content {
    margin-top: 0;
  }

  .title-kpis {
    font-size: 2vh;
    line-height: 2vh;
  }

  .id-positivacao {
    font-size: 8vh;
    line-height: 8vh;
  }

  .image-4 {
    width: 20%;
  }

  .percent-number {
    font-size: 7vh;
    line-height: 7vh;
  }

  .databat {
    font-size: 10px;
  }

  .percent-content {
    width: 40%;
  }

  .medalha-meta {
    width: 14vw;
  }

  .progress-contain {
    width: 60%;
  }

  .image-6 {
    width: 70px;
    padding-top: 7px;
  }

  .dash-regional-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .dash-regional-block2 {
    margin-top: 35px;
    margin-left: 0;
  }

  .div-block-8 {
    justify-content: space-between;
    align-items: center;
  }

  .div-block-9 {
    margin-bottom: 20px;
  }

  .ranking {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ranking-1 {
    padding-left: 100px;
  }

  .rocket-animate {
    width: 42vw;
    height: 13vw;
  }

  .lottie-animation-3 {
    width: 6vw;
    margin-right: 5px;
  }

  .ranking-position-content {
    padding-right: 40px;
  }

  .text-block-2 {
    font-size: 7vw;
    line-height: 7vw;
  }

  .ranking-score-1 {
    margin-right: 20px;
    font-size: 3vw;
    line-height: 3vw;
  }

  .ranking-2 {
    padding-left: 60px;
  }

  .nav-menu {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
  }

  .medalha-trancada {
    width: 14vw;
  }

  .card-ranking-vendedores {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .ranking-tv {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .div-block-15 {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .card-ranking-vendedores-atual, .card-ranking-vendedores-copy {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .update-infos {
    margin-top: 5px;
    font-size: 12px;
  }

  .ranking-4, .ranking-5, .ranking-6 {
    padding-left: 60px;
  }
}

@media screen and (max-width: 479px) {
  .background-video {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo-infinitoealem {
    width: 95vw;
    height: 45vw;
  }

  .text-block {
    font-size: 14px;
  }

  .dashboard-vendedor {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .link-block {
    margin-bottom: 20px;
  }

  .background-video-2 {
    width: 50vh;
    height: 49vh;
    margin-bottom: 20px;
  }

  .astronaut {
    width: 25vh;
    height: 25vh;
    padding: 0 0 10px 3px;
  }

  .div {
    padding-left: 20px;
    padding-right: 20px;
  }

  .name-astronaut {
    font-size: 4vh;
    line-height: 4vh;
  }

  .foto_vendedor {
    width: 12vh;
    height: 12vh;
  }

  .kpis-content {
    padding-left: 10px;
  }

  .grid {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .id-positivacao {
    font-size: 6vh;
    line-height: 6vh;
  }

  .target {
    flex-flow: column;
  }

  .percent-number {
    font-size: 8vh;
    line-height: 8vh;
  }

  .percent-content {
    background-image: linear-gradient(0deg, rgba(0, 140, 255, .68), rgba(255, 255, 255, 0) 56%);
    border-top-style: none;
    border-bottom: 1px solid rgba(0, 140, 255, .4);
    border-top-left-radius: 0;
    border-bottom-right-radius: 20px;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .medalha-meta {
    width: 30vw;
  }

  .progress-contain {
    width: 100%;
  }

  .navbar {
    padding-left: 0;
  }

  .brand {
    margin-right: 0;
  }

  .dash-regional-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .dash-regional-block2 {
    margin-left: 0;
  }

  .kpis-content-2 {
    padding-right: 10px;
  }

  .ranking-1 {
    padding-left: 30px;
  }

  .rocket-animate {
    width: 80vw;
    height: 18vw;
  }

  .lottie-animation-3 {
    margin-right: 2px;
  }

  .ranking-position-content {
    padding-left: 30px;
    padding-right: 20px;
  }

  .text-block-2 {
    font-size: 11vw;
    line-height: 11vw;
  }

  .ranking-score-1 {
    text-align: right;
    margin-right: 10px;
    font-size: 5vw;
    line-height: 5vw;
  }

  .ranking-2 {
    padding-left: 20px;
  }

  .ranking-3 {
    padding-left: 10px;
  }

  .nav-menu {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
  }

  .medalha-trancada {
    width: 30vw;
  }

  .porcentagem-indicadores {
    margin-left: 5px;
    font-size: 12px;
  }

  .text-block-3 {
    font-size: 14px;
  }

  .dropdown-toggle {
    padding-left: 20px;
    padding-right: 60px;
  }

  .div-block-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .astronaut-ranking {
    width: 60px;
    height: 60px;
    padding: 0 0 10px 3px;
  }

  .foto_vendedor-ranking {
    width: 40px;
    height: 40px;
    margin-top: 4px;
  }

  .position-vendedor {
    margin-bottom: 10px;
  }

  .nome-e-pontos {
    margin-top: 10px;
    padding-left: 0;
  }

  .ranking-geral {
    font-size: 12px;
    line-height: 12px;
  }

  .vendedor-content {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .div-block-15 {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .ranking-4, .ranking-5, .ranking-6 {
    padding-left: 0;
  }
}

#w-node-_0a62f855-2a2e-b55d-1809-173adcc2f9a7-6687fa9d, #w-node-_0a62f855-2a2e-b55d-1809-173adcc2f9ad-6687fa9d, #w-node-_0a62f855-2a2e-b55d-1809-173adcc2f9b3-6687fa9d, #w-node-_0a62f855-2a2e-b55d-1809-173adcc2f9b9-6687fa9d, #w-node-_0a62f855-2a2e-b55d-1809-173adcc2f9bf-6687fa9d, #w-node-_0a62f855-2a2e-b55d-1809-173adcc2f9c5-6687fa9d, #w-node-be973254-9866-0c22-23f7-4c821ee3547d-6687fa9d, #w-node-be973254-9866-0c22-23f7-4c821ee35483-6687fa9d, #w-node-be973254-9866-0c22-23f7-4c821ee35489-6687fa9d, #w-node-be973254-9866-0c22-23f7-4c821ee3548f-6687fa9d, #w-node-be973254-9866-0c22-23f7-4c821ee35495-6687fa9d, #w-node-be973254-9866-0c22-23f7-4c821ee3549b-6687fa9d, #w-node-_384fc0c0-e6b8-810d-03d6-935720f7c555-6687fa9d, #w-node-aa3396b5-c256-4798-7989-f61cc4cb5f14-6687fa9d, #w-node-fc2454f9-2b45-abd1-1355-9a14af3d59d9-6687fa9d, #w-node-c5bcbf0c-3170-40f2-8a40-c8ebdda51524-6687fa9d, #w-node-a449b2b4-86e5-c743-b50b-66f298a8919d-6687fa9d, #w-node-_90cf5494-4a02-fbcb-1470-3c79602ca3a0-6687fa9d, #w-node-_41d792c2-5a0f-c22b-c41c-0151022b871b-6687fa9d, #w-node-_5c8ed426-8757-5299-b22e-827de336b2b9-6687fa9d, #w-node-_447a4c91-7338-4832-6f0e-8570c2c14c96-6687fa9d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
